*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: #ebebeb;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Oswald", Arial, sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #881f35;
}
a:hover{
    text-decoration: underline;
}
.contenedor{
    max-width: 1000px;
    width: 90%;
    margin: auto;
}
.izquierda{
    float: left;
}
.derecha{
    float: right;
}
/*-----HEADER-----*/
header{
    color: #fff;
    margin-bottom: 30px;
    background: #881f35;
}
header .contenedor{
    overflow: hidden;
}
header .logo{
    max-width: 30px;
}
header .logo a{
    color: #fff;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 28px;
    line-height: 78px;
}
header .logo a:hover{
    text-decoration: none;
}
header .buscar{
    display: inline-block;
    position: relative;
    margin-right: 15px;
}
header .buscar input[type='text']{
    background: none;
    border: 1px solid rgba(255,255,255,.7);
    color: rgba(255,255,255,.7);
    height: 39px;
    padding: 0 10px;
    padding-right: 32px;
}
header .buscar input[type='text']:hover,
header .buscar input[type='text']:focus{
    color: #fff;
    border: 1px solid #fff;
}
header .buscar .icono{
    color: rgba(255,255,255,.7);
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    font-size: 16px;
    line-height: 16px;
}
header .buscar .icono:hover{
    color: #fff;
}
header menu{
    
}